<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @produc.title %>
</p>

<p>
  <b>Description:</b>
  <%= @produc.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @produc.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @produc.price %>
</p>


<%= link_to 'Edit', edit_produc_path(@produc) %> |
<%= link_to 'Back', producs_path %>
